/* drop down menu */

.menu-items {
    display: none;
}

.expand {
    display: block;
}


/* carousel */

.carousel {
    width: 60%;
    margin: auto;
    /* overflow: hidden;  */
    position: relative;
}

.current-image { 
    display: flex;
    width: 100%;
    height: 500px;
}

#previousButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 50px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}

#nextButton {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 50px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}